<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <header class="NavBar">
        <div class="Logo">
            NewsSieve
        </div>
        <div class="NavButton">
            <a href="{{url_for('index')}}">Home News</a>
            <a href="{{url_for('categories')}}">Categories</a>
            <a href="{{url_for('morenews', category='topstories')}}">More News</a>
        </div>
        <div class="NavCTA">
            <button>Send my News</button>
        </div>
    </header>

    <h3>Welcome to News Sieve - a platform for news dedicated to you</h3>
    <p style="font-size: 1.6rem; text-align: left;">
        Welcome to News Sieve, a platform that bring your personalised news! <br><br>
        We understand the challenges of not being able to find out news that you want, and that's why we've created a platform designed to make your life simpler, more efficient, and enjoyable.  
        Discover how NewsSieve can transform the way you explore news. Join our growing community today and experience the difference for yourself!  
        <br> <br>Here is how News Sieve works: 
        <ol style="font-size: 1.6rem; text-align: left;">
            <li><strong>User-Friendly Interface: </strong> Navigate through an intuitive dashboard built for simplicity and ease of use.  </li>
            <li><strong>Smart Automation: </strong> Automate repetitive tasks with advanced AI-powered algorithms that save you time and effort.  
            </li>
            <li><strong>Personalized Insights: </strong> Gain tailored recommendations and analytics to make informed decisions effortlessly. 
            </li>
        </ol> 
    </p>

    <h3>About Us</h3>
    <p style="font-size: 1.6rem; text-align: left;">Thanks for reading and using News Sieve, it is made by us (i.e. Shivanshu Gupta and Naveen Garg).
    We are student of IITM BS Data Science and Programming Degree. 
    <br> <br> Shivanshu takes interets in Machine learning and AI development and has worked on the database development and backend of NewsSieve. In his free time Shivanshu works on learning recent developments in AI. 
    <br> <br>
    Naveen takes interest in the design and has worked on the front end and UI/UX of News Sieve.</p>

    <footer>
        <div class="footer_CTA">
            <div class="Logo2">
                <img src="../static/images/Logo/Second Logo.svg" alt="">
            </div>
            <div class="CTA_content">
                <p>Stay informed with our latest features and updates</p>
                <div class="Cta_button">
                    <form action="">
                    <input type="email" name="" id="" placeholder="Add your email to the list of spam free users">
                    <button class="Second">Join</button>
                    </form>
                </div>
                <p>By joining you consent to our Privacy Policy and recieve updates</p>
            </div>
        </div>
        <div class="footer_links">
            <div>
                <h5>Quick Links</h5>
                <a href="{{url_for('aboutus')}}"class = "Third">About us</a>
                <a href="{{url_for('index')}}"class = "Third">Get Started</a>
                <a href="{{url_for('contactus')}}"class = "Third">Contact Us</a>
            </div>
            <div>
                <h5>Connect with us</h5>
                <a href=""class = "Third">Facebook</a>
                <a href=""class = "Third">Instagram</a>
                <a href=""class = "Third">X</a>
                <a href=""class = "Third">Linkedin</a>
                <a href=""class = "Third">YouTube</a>

            </div>
        </div>
    </footer>
</body>
</html>