<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="NavBar">
        <div class="Logo">
            <img src="../static/images/Logo/Main Logo.svg" alt="Main Logo">
        </div>
        <div class="NavButton">
            <a href="{{url_for('index')}}">Home News</a>
            <a href="{{url_for('categories')}}">Categories</a>
            <a href="{{url_for('morenews', category='topstories')}}">More News</a>
        </div>
        <div class="NavCTA">
            <a href="{{url_for('contactus')}}">
                <button>Send my News</button>
            </a>
        </div>
    </header>
    
    <section class="HeroSection">
        <div class="HeroContent">
            <h1>Stay Informed with Tailored News Just for You</h1>
            <p>Discover the latest news curated to your interests. Enjoy seamless access without the need for forced login, or opt in for our email newsletter for top stories delivered directly to your inbox</p>
            <div class="HeroSerachbar">
                <form action="{{ url_for('inputform') }}" method="GET">
                    <div class="SearchContainer">
                        <select name="category" id="categories" class="NewsDropdown" required>
                            <option value="" disabled selected>Choose your news !!!</option>
                            <option value="world">World</option>
                            <option value="technology">Technology</option>
                            <option value="sports">Sports</option>
                            <option value="business">Business</option>
                            <option value="entertainment">Entertainment</option>
                            <option value="health">Health</option>
                            <option value="science">Science</option>
                        </select>
                    </div>
                    <button type="submit">
                        Search my news 
                        <img src="../static/images/Icons/right-arrow.png" alt="">
                    </button>
                </form>
            </div>
        </div>
        <div class="HeroMain">
            <h3>Trending News</h3>
            <a href="{{info_list[0][1]}}">
                <div class="Card">
                    <img src="{{info_list[0][4]}}" alt="">
                    <h5>{{info_list[0][0]}}</h5>
                    <p>{{info_list[0][3]}}</p>
                </div>
            </a>
            <a href="{{info_list[1][1]}}">
                <div class="Card">
                    <img src="{{info_list[1][4]}}" alt="">
                    <h5>{{info_list[1][0]}}</h5>
                    <p>{{info_list[1][3]}}</p>
                </div>
            </a>
            <a href="{{info_list[2][1]}}">
                <div class="Card">
                    <img src="{{info_list[2][4]}}" alt="">
                    <h5>{{info_list[2][0]}}</h5>
                    <p>{{info_list[2][3]}}</p>
                </div>
            </a>
        </div>
    </section>
    
    
    <section class="Feature_section">
        <h3>Stay Updated with teh latest trends in news without any hassle</h3>
        <div>
            <h5>Explore news categories for you</h5>
            <p>Access trending news effortlessly, with no login required for browsing</p>
            <a href="{{url_for('morenews', category='topstories')}}">
            <button class="Third">Browse trending <img src="../static/images/Icons/right-arrow.png" alt=""></button>
            </a>
        </div>
        <div>
            <h5>Get the top news in inbox</h5>
            <p>Sign up with your email to recieve personalised news updates </p>
            <a href="{{url_for('contactus')}}">
            <button class="Third">Send me news <img src="../static/images/Icons/right-arrow.png" alt=""></button>
            </a>
        </div>
        <div>
            <h5>Discover ahead of the curve</h5>
            <p>Stay informed about the latest developments in your favourite categories</p>
            <a href="{{url_for('morenews', category='latestnews')}}">
            <button class="Third">Latest news <img src="../static/images/Icons/right-arrow.png" alt=""></button>
            </a>
        </div>
    </section>
    
    <section class="CTA_section">
        <div class="Mid_CTA_content">
            <h3>Discover News Your Way</h3>
            <p>Experience teh latest news tailored to your interest without any hassle. Dive in now and explore a world of information at your fingertips</p>
            <a href="{{url_for('morenews', category='topstories')}}">
                <button>Show me News</button>
            </a>
            <a href="{{url_for('aboutus')}}">
                <button class="Third">Learn more</button>
            </a>
        </div>
        <div class="Mid_CTA_Pic">
            <img src="../static/images/Extra Images/undraw_news_nz1p.svg" alt="">
        </div>
    </section>
    
    <section class="Testi_section">
        <h3>Why our readers love us?</h3>
        <p>The reason is clear, they love the news we bring</p>
        <div class="Testimonials">
            <div class="Stars">
                <div style="height: 30px; width: 80px; color: grey;"></div>
            </div>
            <div class="Comment">
                <p>"I love how easy it is to access my fav news"</p>
            </div>
            <div class="user_info_card">
                <div class="userpic">
                <img src="../static/images/Extra Images/Profile-1.png" alt="">
                <p>Jane Doe</p>
                <p>Editor, News Daily</p>
                </div>
                <div class="USer_company_logo">
                    <img src="../static/images/Logo/logos_netflix.png" alt="">
                </div>
            </div>
        </div>
        <div class="Testimonials">
            <div class="Stars">
                <div style="height: 30px; width: 80px; color: grey;"></div>
            </div>
            <div class="Comment">
                <p>"This newsletter is one game changer of my routine"</p>
            </div>
            <div class="user_info_card">
                <div>
                <img src="../static/images/Extra Images/Profile.png" alt="">
                <p>John Smith</p>
                <p>Manager, Infohub</p>
                </div>
                <div class="USer_company_logo">
                    <img src="../static/images/Logo/simple-icons_cocacola.png" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="footer_CTA">
            <div class="Logo2">
                <img src="../static/images/Logo/Second Logo.svg" alt="">
            </div>
            <div class="CTA_content">
                <p>Stay informed with our latest features and updates</p>
                <div class="Cta_button">
                    <form action="">
                    <input type="email" name="" id="" placeholder="Add your email to the list of spam free users">
                    <button class="Second">Join</button>
                    </form>
                </div>
                <p>By joining you consent to our Privacy Policy and recieve updates</p>
            </div>
        </div>
        <div class="footer_links">
            <div>
                <h5>Quick Links</h5>
                <a href="{{url_for('aboutus')}}"class = "Third">About us</a>
                <a href="{{url_for('index')}}"class = "Third">Get Started</a>
                <a href="{{url_for('contactus')}}"class = "Third">Contact Us</a>
            </div>
            <div>
                <h5>Connect with us</h5>
                <a href=""class = "Third">Facebook</a>
                <a href=""class = "Third">Instagram</a>
                <a href=""class = "Third">X</a>
                <a href=""class = "Third">Linkedin</a>
                <a href=""class = "Third">YouTube</a>

            </div>
        </div>
    </footer>
</body>
</html>